li {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    padding: 1rem;
    border: 2px solid var(--c2);
    cursor: pointer;
    transition: 100ms ease-in-out;

    &#settings,
    &#generate,
    &#play {
      color: var(--c3);
      border-color: var(--c3);
    }

    &.active {
      transform: translateY(-10px);
      background-color: var(--c3);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &:hover {
    button {
      color: var(--c2) !important;
      background-color: var(--c3) !important;
      border-color: var(--c2) !important;
    }
  }

  &:active {
    button {
      color: var(--c3) !important;
      background-color: var(--c2) !important;
      border-color: var(--c3) !important;
    }
  }
}
