li {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    padding: 1rem;
    border: 2px solid var(--c2);
    cursor: pointer;
    transition: 100ms ease-in-out;

    &.active {
      transform: translateY(-10px);
      background-color: var(--c3);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &:hover {
    button:not(:disabled) {
      background-color: var(--c3);
      border-color: var(--c2);
    }
  }

  &:active {
    button:not(:disabled) {
      color: var(--c3);
      background-color: var(--c2);
      border-color: var(--c3);
    }
  }
}

input[type='range'] {
  margin-top: 0.5rem;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: var(--c1);
  height: 10px;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 10px;
    color: var(--c2);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 15px;
    cursor: ew-resize;
    background: var(--c3);
    box-shadow: -200px 0 0 200px var(--c3);
  }
}
