header,
footer {
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: 0 5rem;

  @include respond(xl) {
    padding: 0 2rem;
  }

  nav {
    display: flex;
    align-items: center;

    & > li {
      &:not(:last-child) {
        margin-right: 2rem;

        @include respond(xl) {
          margin-right: 1rem;
        }
      }
    }
  }
}

header {
  top: 0;
  z-index: 1;
  justify-content: space-between;

  h1 {
    font-size: 3.5rem;
  }

  @include respond(m) {
    padding: 3rem;

    nav {
      display: none;
    }
  }
}

footer {
  bottom: 0;
  justify-content: center;
  padding: 1rem;
}

.settings {
  position: relative;

  &__card {
    color: var(--c3);
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(black, 0.75);
    opacity: 0;
    transform: translateY(110%);
    pointer-events: none;
    transition: 100ms ease-in-out;
    padding: 3rem;

    li {
      display: flex;
      flex-flow: column;
      align-items: center;

      input {
        margin-top: 0.5rem;
        width: 100%;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &:hover {
    .settings__card {
      opacity: 1;
      transform: translateY(100%);
      pointer-events: all;
    }
  }
}

.array_type {
  div {
    display: flex;
    margin-top: 1rem;
    font-size: 100%;
    font-family: monospace;

    button {
      flex: 1;
      font-size: 80%;
      padding: 1rem;
      background-color: transparent !important;
      color: var(--c3) !important;
      border-color: var(--c3) !important;
      font-weight: bold;

      &:not(:last-child) {
        border-right-width: 1px;
      }

      &.active_array {
        background-color: var(--c2) !important;
      }
    }
  }
}
