.mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;

  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  background-color: rgba(black, 0.75);
  box-shadow: -2px 0 8px rgba(black, 0.25);
  transform: translateX(100%);
  transition: 200ms ease-in-out;

  &.opened {
    transform: translateX(0);
  }

  div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: column;
    align-items: center;

    li {
      width: 70%;
      margin: 0;

      button,
      input {
        width: 100%;

        &.active {
          transform: translateY(0) translateX(-10px);
        }
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &.array_type {
        width: 90%;

        div {
          display: flex;
          flex-flow: row;
          align-items: stretch;
        }
      }
    }
  }

  @include respond(m) {
    display: flex;
  }
}
