header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  h1 {
    font-size: 2.5rem;
  }

  nav {
    display: flex;
    align-items: center;

    li {
      button {
        padding: 1rem;
        border: 2px solid var(--c2);
        cursor: pointer;
        transition: 100ms ease-in-out;

        &.active {
          transform: translateY(-10px);
        }
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &:hover {
        button {
          color: var(--c1);
          background-color: var(--c2);
        }
      }
    }
  }
}
